
.portlet:not(.portlet-fullscreen) .heading:before {
  position: absolute;
  content: "";
  vertical-align: middle;
  width: 12px;
  height: 27px;
  background: #ff931e;
  right: 0px;
}

a.SmallVideo {
  position: absolute;
  right: 0px;
  z-index: 1;
  color: #000;
  font-size: 16px;
  top: -32px;
  background: #c0e28b;
  padding: 1px 5px;
  display: none;
}

.SmallVideo {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 40vw;
  z-index: 999;
  transition: 0.1s;
  max-width: 355px;
}


.SmallVideo .plyr .plyr__volume {
  max-width: 50px;
}

.videoContainer {
  max-width: 700px;
  margin: 10px auto;
}

.reposition {
  position: absolute;
  top: 3px;
  color: #000;
  background-color: #bedf89;
  right: 3px;
  width: 25px;
  height: 25px;
  text-align: center;
}

[enable-indent] {
  text-indent: 50px;
}

.entry-content {
  width: 90%;
  margin: 0 auto;
  -moz-tab-size: 8;
  -o-tab-size: 8;
  tab-size: 8;
}

@media only screen and (min-width: 768px) {
  .entry-content {
    width: 100%;
    max-width: 768px;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 42px;
    column-gap: 42px;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }
}

@media only screen and (min-width: 1024px) {
  .entry-content {
    max-width: 1024px;
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 42px;
    column-gap: 42px;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }
}

.entry-content p {
  margin-top: 0;
  margin-bottom: 24px;
}

.closeSmallVideoBtn {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 22px;
  right: 0px;
  margin-right: -9px;
  padding: 5px;
  background: rgb(0 0 0 / 40%);
  border-radius: 12%;
  /*
  border: 4px solid currentColor;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  */
  color: #fff;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
}

.closeSmallVideoBtn svg {
  left: 0;
  position: relative;
  left: 0px;
  width: 20px;
  height: 20px;
  display: block;
  fill: currentColor;
  padding: 3px;
}